.intro_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro {
  border: 1px solid rgba(68, 66, 66, 0.651);
  width: 30%;
  height: 600px;
  margin: 0 50px;
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe {
  margin-left: 10%;
  margin-bottom: 15px;
  font-size: 50px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
  font-weight: bold;
  padding-top: 110px;
}
.about {
  // border: 1px solid black;
  margin-top: 20px;
  width: 50%;
  margin-left: 10%;
  margin-right: 50px;
  // display: flex;
}
.name {
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
}

.content__body__about {
  display: flex;
  width: 100%;
  height: 1200px; // padding-top: 80px;
  /* background: red; */
}
.content__body__exp {
  // width: 100%;
  height: 1500px;
  background: rgb(37, 37, 37);
  color: white;
  // margin: 10px;
}
.exp {
  margin-left: 10%;
  margin-bottom: 15px;
  font-size: 50px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
  font-weight: bold;
  padding-top: 110px;
}
hr {
  border: 2px solid black;
  background-color: black;
  color: black;
}
.profilepic__div {
  align-items: center;
  width: 100%;
}
.profilepic {
  width: 50%;
  margin: 20px;
}
.content__body__project {
  height: 1500px;
}
.project {
  margin-left: 10%;
  margin-bottom: 15px;
  font-size: 50px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
  font-weight: bold;
  padding-top: 110px;
}
// .divider {
//   border-bottom: 1.5px solid black;
//   margin: 0 10%;
// }

