.sub__title {
  font-size: 35px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
  margin-bottom: 10px;
}
.para {
  margin-bottom: 50px;
  font-size: 20px;

  &--school {
    font-weight: 600;
    margin-bottom: 5px;
    background: red;
  }
}
