.exp__outerdiv {
}
.competition__div {
  margin: 0 50px;
  margin-left: 10%;
  margin-top: 20px;
  font-size: 40px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
}
.exp__div {
  margin: 0 50px;
  margin-left: 10%;
  margin-top: 40px;
  // background-color: red;
  font-size: 40px;
  font-family: "Mulish", sans-serif;
  font-family: "Secular One", sans-serif;
}
.work__divider {
  border-bottom: 1.5px solid white;
  margin-top: 20px;
  margin: 0 10%;
  // background-color: red;
}
